$forest-green: #3d8524;
$apple: #50b92e;
$alert-red: #8e3434;
$valencia: #dd4c4b;
$algo-brand: #08394D;
$algo-banner: #004158;
$warning-yellow: #ffc107;
$warning-dark: #dbb300;
$grey: #b6b7b9;
$grey-barely: #dfdfdf;
$selected-blue: #0052cc;
$spinner-blue: #3498db;

$base-spacing: 16px;

$default-font-size: 13px;

$default-font: $default-font-size Arial, Helvetica, sans-serif;